<div class="container p-3 border text-center">
    <h5>User Dashboard</h5>
    <p>My Profile</p>
    <p>My Orders</p>
    <div class="bg-light p-1" style="margin-top: 200px;">
        <h1>TOP DEALS</h1>
    </div>
</div>